#gameBoard td {
  text-align: left;
  vertical-align: top;
  width: 120px;
  height: 120px;
  border: 3px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

table#gameBoard {
    margin: 30px;
    border-collapse: separate;
    border-spacing: 2px;
}


.jail {
  color: red;
}

.row {
  padding: 10px;
  margin: 10px;
}


#player1 {
  margin-top: 0px;
  background-color: red;
  height: 10px;
  width: 10px;
  border: 3px solid red;
  margin: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#player2 {
  margin-top: 0px;
  background-color: blue;
  height: 10px;
  width: 10px;
  border: 3px solid blue;
  margin: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.thide {
  visibility: hidden;
}

.blue_house {

}

.red_house {

}
